*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
h2{
    font-family: 'Girassol', cursive;
    font-weight: normal;
}
/*******************************Header Section Start*******************************/
header{
    width: 100%;
    float: left;
    background-color: #865c96;
    padding: 25px 0;
}

.nav-brand{
    width: 40%;
    float: left;
}
.nav-brand img{}

.navbar{
    width: 60%;
    float: left;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin: 10px 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}
.header-info{
    width: 45%;
    margin: 0 auto;
    padding: 10% 0;
    text-align: center;
}
.header-info h2{
    color: white;
}
.btn{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.9em;
}
.btn-header{
    background-color: #f77551;
    box-shadow: 0 2px 0 #f775517a;
}
/*******************************Header Section End*********************************/

/*******************************Service Section Start******************************/
.service{
    width: 100%;
    float: left;
    background-color: #18aaa2;
    padding: 25px 0;
}
.title{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.title h2{
    font-size: 1.8em;
    margin-bottom: 10px;
}
.title span{
    display: block;
    width: 70px;
    margin: 10px auto;
    border: 2px solid #0000009c;

}
.title p{
    color: #000000bf;
    padding: 10px;
}
.service-info{
    width: 20%;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.service-info img{
    margin: 5px;
}
.service-info h2{
    margin: 10px;
    color: #fff;
    font-size: 1.5em;
}
.service-info p{
    color: #ffffffde;
}

/*******************************Service Section End********************************/

/*******************************Team Section Start*********************************/
/*******************************Team Section End***********************************/

/*******************************Skill Section Start********************************/
/*******************************Skill Section End**********************************/

/*******************************Portfolio Section Start****************************/
/*******************************Portfolio Section End******************************/

/*******************************Testimonial Section Start**************************/
/*******************************Testimonial Section End****************************/

/*******************************Contact Section Start******************************/
/*******************************Contact Section End********************************/

/*******************************Footer Section Start*******************************/
/*******************************Footer Section End*********************************/
