*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/*******************************Header Section Start*******************************/
/*******************************Header Section End*********************************/

/*******************************Service Section Start******************************/
/*******************************Service Section End********************************/

/*******************************Team Section Start*********************************/
/*******************************Team Section End***********************************/

/*******************************Skill Section Start********************************/
/*******************************Skill Section End**********************************/

/*******************************Portfolio Section Start****************************/
/*******************************Portfolio Section End******************************/

/*******************************Testimonial Section Start**************************/
/*******************************Testimonial Section End****************************/

/*******************************Contact Section Start******************************/
/*******************************Contact Section End********************************/

/*******************************Footer Section Start*******************************/
/*******************************Footer Section End*********************************/
