*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
h2{
    font-family: 'Girassol', cursive;
    font-weight: normal;
}
/*******************************Header Section Start*******************************/
header{
    width: 100%;
    float: left;
    background-color: #865c96;
    padding: 25px 0;
}

.nav-brand{
    width: 40%;
    float: left;
}
.nav-brand img{}

.navbar{
    width: 60%;
    float: left;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin: 10px 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
}
.header-info{
    width: 45%;
    margin: 0 auto;
    padding: 10% 0;
    text-align: center;
}
.header-info h2{
    color: white;
}
.btn{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.9em;
}
.btn-header{
    background-color: #f77551;
    box-shadow: 0 2px 0 #f775517a;
}
/*******************************Header Section End*********************************/

/*******************************Service Section Start******************************/
.service{
    width: 100%;
    float: left;
    background-color: #18aaa2;
    padding: 25px 0;
}
.title{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.title h2{
    font-size: 1.8em;
    margin-bottom: 10px;
}
.title span{
    display: block;
    width: 70px;
    margin: 10px auto;
    border: 2px solid #0000009c;

}
.title p{
    color: #000000bf;
    margin: 5px;
}
.service-info{
    width: 20%;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.service-info img{
    margin: 5px;
}
.service-info h2{
    margin: 10px;
    color: #fff;
    font-size: 1.5em;
}
.service-info p{
    color: #ffffffde;
    font-size: .9em;
}

/*******************************Service Section End********************************/

/*******************************Team Section Start*********************************/
.team{
    width: 100%;
    float: left;
    background-color: #d4d2d4;
    padding: 25px 0;
}
.team-info{
    width: 20%;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.team-info img{
    border-radius: 50px;
    width: 130px;
    height: 130px
}
.team-info h2{
    margin-top: 7px;
    color: #110101;
    font-size: 1.5em;
}
.team-info h5{
    color: #8b7cb1eb;
    font-size: 0.8em;
}
.team-info p{
    color: #000000c4;
    margin-top: 15px;
    font-size: .9em;
}
.team-info .fa{
    color: #fff;
    background-color: #9f9d9e;
    padding: 3px 6px;
    margin-top: 8px;
    margin-right: 5px;
    border-radius: 50px;
}
/*******************************Team Section End***********************************/

/*******************************Skill Section Start********************************/
.skill{
    width: 100%;
    float: left;
    padding: 25px 0;
}
.skill-info{
    position: relative;
    width: 20%;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.skill-info img{
    width: 125px;
    height: 125px
}

.skill-info h4{
    position: absolute;
    top: 36%;
    left: 46%;
    color: #8b7cb1eb;
    font-family: serif;
    font-size: 1.1em;
}
.skill-info h2{
    margin-top: 7px;
    color: #1b1a1a;
    font-size: 1em;
}
/*******************************Skill Section End**********************************/

/*******************************Portfolio Section Start****************************/
.portfolio{
    width: 100%;
    float: left;
    background-color: #fddc9e;
    padding: 25px 0;
    text-align: center;
}
.btn-portfolio{background-color: #c5aa79;padding: 5px;}
.portfolio-top, .portfolio-bottom{
    width: 100%;
    float: left;
    margin-top: 15px;
    text-align: center;
}
.portfolio-top-info, .portfolio-bottom-info{
    width: 50%;
    float: left;
}
.portfolio-top-info img, .portfolio-bottom-info img{}
.portfolio-top-info h2, .portfolio-bottom-info h2{
    color: #000000c7;
    font-size: 1.4em;
    margin: 7px 0;
}
.btn-portfolio-btm{
    background-color: #32bbbf;
    border-radius: 3px;
    box-shadow: 0 2px 0 #048687;
    margin-bottom: 50px;
}
/*******************************Portfolio Section End******************************/

/*******************************Testimonial Section Start**************************/
.testimonial{
    width: 100%;
    float: left;
    background-color: #d35b7f;
    padding: 25px 0;
}

.testimonial-main{
    width: 100%;
    float: left;
}
.testimonial h2{
    color: #ffffff;
}
.testimonial p{
    color: #fffffff2;
}
.testimonial-info{
    width: 45%;
    float: left;
    margin: 30px 10px 10px;;
}
.testimonial-info-img{
    width: 30%;
    float: left;
}
.testimonial-info-img img{
    width: 130px;
    height: 130px;
    border-radius: 50px;
}
.testimonial-info-comment{
    width: 70%;
    float: left;
}
.testimonial-info-comment p{
    margin: 20px 0;
    font-style: italic;
    font-size: 0.9em;
}
.testimonial-info-comment h2{
    font-size: 1.3em;
}
.testimonial-info-comment h5{
    color: #f5c206;
    font-style: italic;
}
/*******************************Testimonial Section End****************************/

/*******************************Contact Section Start******************************/
.contact{
    width: 100%;
    float: left;
    padding: 25px 0;
    background-color: #3b5592;
}
.contact h2{
    color: #ffffff;
}
.contact p{
    color: #ffffffd1;
}
.contact-form{
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}
.form-control{
    width: 48%;
    height: 35px;
    background-color: #0d2f4e;
    border: none;
    border-radius: 5px;
}
.contact-form textarea{
    width: 98% !important;
    height: 125px !important;
    background-color: #0d2f4e!important;
    border: none!important;
    border-radius: 5px;
    margin-top: 10px;
}
.btn-submit{
    background-color: #32bbbf;
    border-radius: 5px;
    box-shadow: 0 2px 0 #147489;
}
/*******************************Contact Section End********************************/

/*******************************Footer Section Start*******************************/
footer{
    width: 100%;
    float: left;
    background-color: #344b87;
    padding: 25px 0;
}
footer ul{
    list-style: none;
    text-align: center;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    font-family: 'Girassol', cursive;
    font-weight: normal;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 35px;
}
/*******************************Footer Section End*********************************/
